.navbar {
    background-color: #1f262d;
    overflow: hidden;
}

.navbar-container {
    float: left;
    padding: 5px 20px;
    color: white;
}

.navbar a {
    padding: 5px 5px;
    font-size: 18px;
    display: inline-block;
    color: white;
}

.navbar .lang:hover {
    text-decoration: unset;
    /* text-decoration: underline; */
    cursor: pointer;
    color: white;
}